h2{
    background-color: rgb(46, 46, 88);
    color:white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#search-btn{
    width:210px;
    text-align: center;
   
}
button{
    border: 0px;
    border-radius: 5px;
    color:white;
    background-color: rgb(13, 110, 253);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.main{
    display: flex;
    
}
.forecast{
    display: flex;
    flex-direction: column;
}
.city{

    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 30px;
    

}
.buttons{
    margin-top:20px;
    display: flex;
    flex-direction: column;
 
}
.btn{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 200px;
    margin-left:10px;
    margin-bottom: 15px;
    
    border: 2px solid black;
}
.days{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#recentList{
    display:flex;
    flex-direction: column;
}


.day{
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 68);
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 6px;
    padding-right: 10px;
    font-size: 18px;

}
